/* 自定义字体 */
@font-face {
  font-family: 'Noto Serif SC';
  src: 
    url("https://fonts.font.im/css?family=Noto+Serif+SC");
}
:root {
  --md-text-font: 'Noto Serif SC';
}

/* 自定义调色盘 */
[data-md-color-scheme="light"] {
  --md-primary-fg-color: #9e433e;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;
  --md-typeset-color: #363636;
  --md-typeset-a-color: #9e433e !important;
  --md-accent-fg-color: #c1625d;
  --md-default-bg-color:rgb(248, 242, 231);
}
[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #9e433e;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;
  --md-typeset-color: #C4C6CA;
  --md-typeset-a-color: #e87771 !important;
  --md-accent-fg-color: #be6864;
  --md-default-bg-color: #1e2129;
}

/* 选中文字的颜色 */
::selection {
  background-color: #9e433e;
  color: #ffffff;
}

/* 文字阴影 */
* {
  text-shadow: 0 0 .75px #828282
}

/* 隐藏空表头 */
table > thead:has(> tr > th:empty):not(:has(> tr > th:not(:empty))) {
  display: none;
}

/* 隐藏 Logo */
.md-logo {
  display: none !important;
}
[dir=ltr] .md-header__title {
  margin-left: 0.5rem;
  /*line-height: 2.4rem !important;*/
}

/* 多图宫格 */
.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.image-item {
  width: 100%;
  overflow: hidden;
  position: relative;
  aspect-ratio: 1 / 1;
}
.image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

/* 单图设宽 */
.single-image img {
  height: auto;
  width: auto;
  max-width: 300px;
}
