/* 微调字重 */
.md-typeset {
  font-weight: 500;
}
p {
  font-weight: 500;
}
.md-typeset h1 {
  font-weight: 600;
}
.md-typeset h2 {
  font-weight: 600;
}
.md-ellipsis {
  font-weight: 600;
}
.md-tabs .md-nav__title .md-nav__item {
  font-weight: 700;
}
.md-top {
  font-weight: 600;
}
.md-tooltip {
  font-weight: 600;
}
