/* Serif Font */

@font-face {
  font-family: "Noto Serif SC, serif, Roboto Mono";
  src:
    url("https://fonts.googlefonts.cn/css?family=Noto+Serif+SC:wght@500&display=swap"),
    /*url("https://fonts.googlefonts.cn/css?family=Noto+Serif+SC"),*/
    url("https://fonts.googlefonts.cn/css?family=Roboto+Mono")
}

:root {
  --md-text-font: "Noto Serif SC";
  --md-code-font: "Roboto Mono";
}

/* Font Weight */

.md-typeset {
  font-weight: 500;
}

p {
  font-weight: 500;
}

.md-typeset h1 {
  font-weight: 700;
}

.md-typeset h2 {
  font-weight: 600;
}

.md-ellipsis {
  font-weight: 600;
}

.md-tabs .md-nav__title .md-nav__item {
  font-weight: 700;
}

/*.md-typeset .admonition, .md-typeset details {*/
/*  font-size: .8rem !important;*/
/*}*/

/* Hide Logo */

.md-logo {
  display: none !important;
}

[dir=ltr] .md-header__title {
  margin-left: 0.5rem;
  /*line-height: 2.4rem !important;*/
}
